language: python

branches:
  except:
  - dev


matrix:
    include:
        - os: linux
          sudo: required
          python: 2.7
          env: MDAv=0.15

        - os: linux
          sudo: required
          python: 2.7
          env: MDAv=0.16

        - os: osx
          language: generic
          env: MDAv=0.15

        - os: osx
          language: generic
          env: MDAv=0.16


before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx"   ]] ; then brew update                             ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx"   ]] ; then pip install --upgrade pip               ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] ; then sudo apt-get install liblapack-dev -y   ; fi

install:
- pip install codecov
- pip install Sphinx>=1.4.3
- pip install matplotlib
- pip install cython
- pip install MDAnalysis==$MDAv
- pip install .
# command to run tests
script: codecov ; cd docs ; make doctest
