language: python

matrix:
    include:
        - os: linux
          sudo: required
          python: 2.7
        - os: osx
          language: generic


before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx"   ]] ; then brew update                             ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx"   ]] ; then pip install --upgrade pip               ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] ; then sudo apt-get install liblapack-dev -y   ; fi

install: 
- pip install Sphinx>=1.4.3
- pip install matplotlib
- pip install cython
- pip install .
# command to run tests
script: cd docs ; make doctest
